# API and dashboard configuration
api:
  dashboard: true
  insecure: true
    #  middlewares:
    #    - auth
    #http:
    #  middlewares:
    #    auth:
    #      basicAuth:
    #        users:
    #          - admin:$apr1$h9n28mxd$bp6Ng1aF2LbxbQ4WLdzlR1
    
# Docker configuration backend
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    swarmMode: true
    swarmModeRefreshSeconds: 30
    exposedByDefault: false

# Traefik Logging
accessLog: {}
log:
  level: DEBUG 

# Entrypoint
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

# Challenge HTTP
certificatesResolvers:
  myresolver:
    acme:
      email: reza.babapour91@gmail.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
